.inputField {
  position: relative;
  margin-bottom: 12px;
  padding-bottom: 12px;
  width: 300px;
  display: inline-block;
}

.alignCentre {
  text-align: center;
}

.AddQuestion {
  margin-bottom: 16px;
  padding-bottom: 16px;
  font-size: 26px;
  width: 91%;
}

.AddOption {
  margin-bottom: 16px;
  padding-bottom: 16px;
  font-size: 26px;
  width: 80%;
}

.alignButtonRight {
  text-align: right;
}

.alignQuestionLabel {
  text-align: center;
}

.enlargeIconQuestion {
  font-size: 28px;
}

.smallerIconOption {
  font-size: 20px;
}


.submitButton {

  font-size: 26px;
  width: 25%;
}

.cancelButton {

  font-size: 26px;
  width: 25%;
}

